 <div class="user-details">
  <h1> Hello, I am Twarit Waikar </h1>
  <h3> I usually go by my online alias 'IronicallySerious' or just 'Serious' </h3>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">

    <div class="tech">
      <h2>Software</h2>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>Mutiple cross-platform projects in C++. Experience with Unreal Engine 4, and VR simulation development, PHP MVC architecture.</p>
    </div>

    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>Proficient in C++. Experienced in Java, JavaScript, Lua and TypeScript.</p>
    </div>

    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-slack-plain colored"></i>
      <p>Fluent with industry grade development tools like Visual Studio, Git, CMake, and forever active on Slack.</p>
    </div>

  </div>
