<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/rubeus.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Rubeus </h3>
    <ul>
      <li> C++ software design and development </li>
      <li> OpenGL rendering of 2D sprites </li>
      <li> 2D physics calculations for fast simulations </li>
      <li> Sound cueing and managing using cross platform tools </li>
      <li> Boost C++ utilities for out-of-box solutions </li>
      <li> Image manipulations using DevIL </li>
    </ul>
    <p>A cross-platform 2D game engine written in C++17 using OpenGL 3.3. The main objective of making this engine is to provide a simple and fast API to help people realize their game ideas efficiently.</p>
    <a class="project-link" href="https://github.com/sdslabs/Rubeus">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/g_for_golf.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> G for Golf </h3>
    <ul>
      <li> Unreal Engine 4 3D workflow </li>
      <li> Addictive and challenging mechanics </li>
      <li> VR edition + Oculus Touch functionality </li>
    </ul>
    <p>A golf game but with a twist. You control the ball's gravity and not the ball, which means you have complete control of the ball in 3D space.
        Venture through this experience across the upcoming wide variety of biomes and acts.</p>
    <a class="project-link" href="https://github.com/sdswoc/g-for-Golf">Check it out</a>
  </div>
</div>
