<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/rubeus.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Rubeus ⭐⭐⭐</h3>
    <ul>
      <li> 100+ stars on Github </li>
      <li> OpenGL renderer for 2D sprites </li>
      <li> Self-made 2D physics engine for fast simulations </li>
      <li> Sound engine built using cross platform tools </li>
      <li> C++17 utilities for out-of-box solutions </li>
      <li> Image manipulations using DevIL </li>
    </ul>
    <p>A cross-platform 2D game engine written in C++17 using OpenGL 3.3. The main objective of making this engine is to provide a simple and fast API to help people realize their game ideas efficiently.</p>
    <a class="project-link" href="https://github.com/sdslabs/Rubeus">Check it out</a>
    <a class="project-link" href="https://medium.com/the-virtual-diary/how-i-made-a-game-engine-from-scratch-bcacb2df0503">Read the blog</a>
    <a class="project-link" href="https://blog.sdslabs.co/Rubeus/html/index.html">Read the docs</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/g_for_golf.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> G for Golf + VR Edition</h3>
    <ul>
      <li> Unreal Engine 4 3D workflow </li>
      <li> Addictive and challenging mechanics </li>
      <li> VR edition + Oculus Touch functionality </li>
    </ul>
    <p>A golf game but with a twist. You control the ball's gravity and not the ball, which means you have complete control of the ball in 3D space.
        Venture through this experience across the upcoming wide variety of biomes and acts. I ended up creating a VR edition for this game. Won prizes in hackathons and exhibitions. </p>
    <a class="project-link" href="https://github.com/sdswoc/g-for-Golf">Check out the code</a>
    <a class="project-link" href="https://gamejolt.com/games/gforgolf/307491">Get the game</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/iitrseu.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> IITR Shoot 'Em Up! </h3>
    <ul>
      <li> Giant zombies that attack our college building </li>
      <li> You shoot fire cannons in VR </li>
      <li> Uses Oculus Motion VR gameplay </li>
    </ul>
    <p> IITRSEU is an Oculus Touch(designed to work on both HTC Vive and Oculus Touch) based game developed on Unreal Engine 4 where the player must shoot cannon balls at giant zombies to save the IITR Main Building. Currently in early access. </p>
    <a class="project-link" href="https://github.com/sdslabs/IITR-Shoot-Em-Up">Check it out</a>
  </div>
</div>

<div class="user-details">
    <h1> Work-in-Progress Projects </h1>
</div>

<div class="user-projects">
    <!-- <div class="images-right"> -->
    <!-- <img alt="mountains" src="{{ "/assets/img/__.png" | prepend: site.baseurl }}" /> -->
    <!-- </div> -->
    <div class="contents-left">
      <h3> Crystal Game Engine </h3>
      <ul>
        <li> WIP 3D game engine </li>
        <li> Lead by online tutorials </li>
        <li> Modern C++ constructs </li>
      </ul>
      <p> A tutorial project made while following TheChernoProject's Hazel Game Engine Series </p>
      <a class="project-link" href="https://github.com/IronicallySerious/Crystal">Check it out</a>
    </div>
  </div>
